<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&family=Rethink+Sans:wght@400;500;800&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/favicon.ico" />
    <link href="/assets/styles/style.css" rel="stylesheet" type="text/css" />
    <title>Kwizz - plateforme d'entrainement de la mémoire</title>
    <meta name="Kwizz" content="Plateforme d'entraînement de la mémoire" />
</head>

<body>
    {{template "layouts/header" .}}
    
    {{template "layouts/footer" .}}

</body>
</html>
